@font-face {
    font-family: 'MyCustomFont'; 
    src: url('Pixelon.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "MyCustomFont", sans-serif;
    background-color: #C9C67F;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ff99cc;
}
  
.container {
    width: 300px;
    height: 350px;
    background-color: #E3CD73;
    border: 2px solid #C99917;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.top-bar {
    display: flex;
    justify-content: space-between;
}

.date-time {
    background: #EDA7D3;
    padding: 10px 15px;
    border-radius: 4px;
    color: #C99917;
    font-size: 12px;
    border: 2px solid #E161BB;
    font-family: "MyCustomFont", sans-serif;
}

.back-btn {
    background: #EDA7D3;
    border: 2px solid #E161BB;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    color: #C99917;
    font-family: "MyCustomFont", sans-serif;
    font-size: 15px;
}

.back-btn:hover {
    background: #ff99cc;
}

.main-box {
    background-image: url('bg.gif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 275px;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box {
    position: relative;
}
  
.character-gif {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
  
.message-box p {
    font-size: 20px;
    margin-bottom: 15px;
    color: #C99917;
}
  
.yes-btn {
    padding: 10px 25px;
    background: #E3CD73;
    border: 2px solid #C99917;
    border-radius: 12px;
    color: #E161BB;
    font-weight: bold;
    font-family: "MyCustomFont", sans-serif;
    font-size: 16px;
    cursor: pointer;
}
  
.yes-btn:hover {
    background: #fff176;
}
  
button:focus {
    outline: none;
}

/* Slideshow Container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
  
/* Hide the images */
.slide {
    display: none;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 2s ease-in-out; 
}
  
/* Style for the images */
.slide img {
    width: 100%;
    height: auto;
}
  
/* Add a fade transition effect when the image is visible */
.fade {
    opacity: 1;
}